body,html {
  background-color: #FFE4E1;
}

h1{
   color: black;
   text-align: center;
}

h2{
  color: #761119;
  text-align: center;
}

h3 {
  color: #763131;
  text-align: center;
}

p{

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  }

img{
   width: 40%;
   height: auto;
   vertical-align: middle;
   border-style: none;
 }
